.inventory-form {
    border-style: solid;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    width: 50%; 
    margin: auto;
    width: 50%;
    border: 3px solid black; 
    color: black;
    padding: 10px; 
}

.inventory-table {
    border-style: solid;
    margin-bottom: 10px; 
    margin-left: 10px;
    padding: 20px;
    width: 50%;
    margin: auto;
    width: 70%;
    border: 3px solid black;
    color: black;
    padding: 10px; 
}
h1{
    text-align: center;
    color: black;
}

body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    text-align: center;
    background-color: white;
    color: black;
    padding: 5px 5px;
    margin-right: 20px; 
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
}
input[type=button] {
    text-align: center;
    background-color: white;
    color: black;
    padding: 5px 5px;
    border-color: black;
    border-radius: 5px;
    cursor: pointer; 
    margin-right: 20px;
}
form div.form-action-buttons{
    text-align: right;
    display: inline-block;
}
a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

.hide{
    display:none;
}